/* all */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  background: #fbfbfb;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
}

html,
body {
  height: 100%;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  align-items: center;
}

.menu-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #59ab87;
  padding: 15px;
  z-index: 1000;
}

.menu-toggle {
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.menu-toggle.on .one {
  transform: rotate(45deg) translate(7px, 7px);
}

.menu-toggle.on .two {
  opacity: 0;
}

.menu-toggle.on .three {
  transform: rotate(-45deg) translate(8px, -10px);
}

.one,
.two,
.three {
  width: 100%;
  height: 5px;
  background: #fafafa;
  margin: 6px auto;
  backface-visibility: hidden;
  transition-duration: 0.5s;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

nav ul.hidden {
  display: none;
}

nav ul a {
  transition-duration: 0.5s;
  text-decoration: none;
  color: #fafafa;
  font-size: 1.4em;
  line-height: 1.5;
  width: 100%;
  display: block;
}

nav ul a:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.menu-section.on {
  width: 100%;
  display: block;
  background-color: #578470;
}

/* модуль */
.content {
  flex: 1;
  padding: 20px;
  margin-top: 60px;
  width: 95%;
}

.container {
  max-width: 1200px;
  margin: 20px;
  padding: 0px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
  text-align: center;
  color: #2e3336;
}

h1 {
  text-align: center;
  font-size: 2.4em;
}

header p {
  font-size: 1.4em;
  margin: 5px 0;
}

header {
  color: #222a30;
  padding: 20px 0;
  text-align: center;
}

.module-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.module {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  width: 90%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.module h2 {
  color: #222a30;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.module p {
  color: #40464b;
  line-height: 1.8;
  font-size: 1.3em;
}

.module a {
  color: #222a30;
  text-decoration: none;
}

.module a:visited {
  color: #222a30;
  text-decoration: none;
}

/* НПА */
.documents {
  margin-top: 20px;
}

.category {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.regulator {
  flex: 1;
  margin: 20px;
  flex-direction: column;
}

.category h2 {
  font-size: 1.2em;
  margin-bottom: 5px;
  text-align: center;
}

.regulator h3 {
  font-size: 1.2em;
  margin-bottom: 5px;
  text-align: center;
}

.regulator .items {
  border-radius: 7.5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border: 1px solid #30303049;
}

.items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.items.fz {
  position: relative;
  left: -10%;
  display: flex;
  flex-direction: row;
  align-items: start;
}

.law_fz_149,
.law_fz_187,
.law_fz_152,
.law_fz_161,
.law_fz_86 {
  height: 35px;
  width: 140px;
  position: relative;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  padding: 10px 10px 10px;
  font-size: 1em;
  text-decoration: none;
  margin: 12px;
  border-color: #222a30;
  color: #292929;
  box-shadow: 0px 5px 0px 0px;
}

.law_fz_149 {
  background-color: #a2f0b3;
  box-shadow: 0px 5px 0px 0px #a2f0b3;
}

.law_fz_149.active {
  color: #fdfdfd;
  border-color: #61696e;
  background-color: #8cd69c;
  box-shadow: 0px -1px 0px 0px #ffffff;
  transform: translate(0px, 5px);
}

.law_fz_149:disabled {
  color: #fdfdfd;
  border-color: #61696e;
  background-color: #8cd69c;
  box-shadow: 0px -1px 0px 0px #ffffff;
  transform: translate(0px, 5px);
}

.law_fz_187 {
  background-color: #a4d8ff;
  box-shadow: 0px 5px 0px 0px #a4d8ff;
}

.law_fz_187.active {
  color: #fdfdfd;
  border-color: #61696e;
  background-color: #7bc4fc;
  box-shadow: 0px -1px 0px 0px #ffffff;
  transform: translate(0px, 5px);
}

.law_fz_187:disabled {
  color: #fdfdfd;
  border-color: #61696e;
  background-color: #7bc4fc;
  box-shadow: 0px -1px 0px 0px #ffffff;
  transform: translate(0px, 5px);
}

.law_fz_152 {
  background-color: #ababd9;
  box-shadow: 0px 5px 0px 0px #ababd9;
}

.law_fz_152.active {
  color: #fdfdfd;
  border-color: #61696e;
  background-color: #7f7fc0;
  box-shadow: 0px -1px 0px 0px #ffffff;
  transform: translate(0px, 5px);
}

.law_fz_161 {
  background-color: #ffd2c0;
  box-shadow: 0px 5px 0px 0px #ffd2c0;
}

.law_fz_161.active {
  color: #fdfdfd;
  border-color: #61696e;
  background-color: #f1a586;
  box-shadow: 0px -1px 0px 0px #ffffff;
  transform: translate(0px, 5px);
}

.law_fz_86 {
  background-color: #bf9d90;
  box-shadow: 0px 5px 0px 0px #bf9d90;
}

.law_fz_86.active {
  color: #fdfdfd;
  border-color: #61696e;
  background-color: #b67359;
  box-shadow: 0px -1px 0px 0px #ffffff;
  transform: translate(0px, 5px);
}

/* Категорирование ИС */
.input_output_info {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-top: 10px;
}

.content h2 {
  margin-top: 10px;
}

.input_info,
.output_info {
  width: 50%;
}

.input_info_kii {
  width: 100%;
}
.output_info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.output_info .text_info {
  margin: 0;
  font-size: 1em;
}

select {
  width: 50%;
  padding: 2px;
  font-size: 1em;
  margin: 3px;
}

details {
  padding: 2px;
  font-size: 1.1em;
}

summary {
  font-weight: bold;
  background: rgb(209, 231, 255);
}

.save_base {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.save_base button {
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
}

fieldset {
  background: rgb(245, 245, 245);
  border: 1px solid #333;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}

fieldset .fieldset_dopy {
  display: flex;
  flex-direction: row;
  position: relative;
}

fieldset h3 {
  margin-top: 10px;
}

fieldset .fieldset_dopy label {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-right: 15px;
}

fieldset .fieldset_dopy .checkbox {
  margin-left: 15px;
  margin-right: 1px;
}

legend {
  font-weight: bold;
  background: #8ec1e9;
  color: #ffffff;
  padding: 5px;
  border: 1px solid #333;
  margin-left: 20px;
  border-radius: 5px;
}

select {
  width: 100%;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

option {
  white-space: pre-wrap;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.output_info {
  width: 45%;
  display: block;
  flex-wrap: row;
  justify-content: center;
  text-align: center;
}

.output_info .text {
  display: flex;
  justify-content: center;
  padding: 15px;
  margin: 15px;
  font-weight: bold;
  font-size: 1.6em;
  text-align: center;
  background: rgb(245, 245, 245);
  border: 1px solid #333;
  border-radius: 5px;
}

.results {
  color: #ff0000;
}

/* КИИ */
.kii {
  display: flex;
  flex-wrap: row;
  justify-content: baseline;
  padding: auto;
}

.kii button {
  font-weight: bold;
  position: relative;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  padding: 15px;
  font-size: 1.2em;
  text-decoration: none;
  margin: 15px;
  border-color: #a0a6aa;
  background-color: #72a0c3;
  color: white;
}

.kii button:active {
  color: #fdfdfd;
  border-color: #ffffff;
  background-color: #68869e;
  box-shadow: 0px -1px 0px 0px #ffffff;
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

.kii button:hover {
  background-color: #68869e;
}

.kii a {
  color: #ffffff;
  text-decoration: none;
}

.kii a:visited {
  color: #f4f4f4;
  text-decoration: none;
}

.kii a:hover {
  color: #ffffff;
  text-decoration: none;
}

/* Кнопки */
.save_info {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.save_info button {
  font-weight: bold;
  height: 50px;
  width: 200px;
  position: relative;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  padding: 15px;
  font-size: 1.2em;
  text-decoration: none;
  margin: 15px;
  border-color: #a0a6aa;
  background-color: #72a0c3;
  color: white;
}

#undoButton {
  font-weight: bold;
  height: 50px;
  width: 400px;
  position: relative;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  padding: 9px;
  font-size: 1.2em;
  text-decoration: none;
  margin: 15px;
  border-color: #a0a6aa;
  background-color: #72a0c3;
  color: white;
}

#receivedData_kii {
  font-weight: bold;
  height: 50px;
  width: 400px;
  position: relative;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  padding: 9px;
  font-size: 1.2em;
  text-decoration: none;
  margin: 15px;
  border-color: #a0a6aa;
  background-color: #72a0c3;
  color: white;
}

#resetButton {
  font-weight: bold;
  height: 50px;
  width: 200px;
  position: relative;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  padding: 15px;
  font-size: 1.2em;
  text-decoration: none;
  margin: 15px;
  border-color: #a0a6aa;
  background-color: #72a0c3;
  color: white;
}

.kii_button {
  display: flex;
  flex-wrap: row;
  justify-content: center;
  text-align: center;
}

.save_info button:active {
  color: #fdfdfd;
  border-color: #ffffff;
  background-color: #68869e;
  box-shadow: 0px -1px 0px 0px #ffffff;
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

.save_info button:hover {
  background-color: #68869e;
}

.save_info a {
  color: #ffffff;
  text-decoration: none;
}

.save_info a:visited {
  color: #f4f4f4;
  text-decoration: none;
}

.save_info a:hover {
  color: #ffffff;
  text-decoration: none;
}

.save_info_text {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-top: 15px;
  font-weight: lighter;
  font-size: 1em;
  text-align: center;
}

.save_info_text label {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 2px;
  font-weight: lighter;
  font-size: 1em;
  text-align: center;
}

.save_info_text .checkbox {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: 15px;
}

/* Диалоговые окна */
.dialogs {
  position: absolute;
  padding: 20px;
  margin: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 50%;
  overflow: hidden;
  font-size: 1.5em;
}

.close {
  display: inline-block;
  text-align: center;
  font-size: 0.7em;
  height: 35px;
  width: 120px;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 10px;
  background-color: #215ba3;
  border: 1px solid #222a30;
  color: #ffffff;
}

/* футер */
.footer {
  z-index: 1000;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 1.5rem;
  background: #ffdbaa;
  color: #58636b;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  box-sizing: border-box;
  height: auto;
}

.footer:hover {
  color: #232527;
}

/* Медиазапросы для адаптации под мобильные устройства */
@media (max-width: 768px) {
  .menu-section {
    padding: 8px;
  }

  nav ul a {
    font-size: 1.2em;
  }

  .content {
    padding: 15px;
  }

  h1 {
    font-size: 2em;
  }

  header p {
    font-size: 1.2em;
  }

  .container {
    margin: 10px;
    padding: 10px;
  }

  .module {
    padding: 15px;
    width: 95%;
  }

  .module h2 {
    font-size: 1.3em;
  }

  .module p {
    font-size: 1.1em;
  }

  .category {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .regulator {
    flex-direction: row;
    margin: 10px;
    flex: 1;
  }

  .items.fz {
    left: 0;
    flex-direction: row;
    align-items: center;
  }

  .law_fz_149,
  .law_fz_187,
  .law_fz_152,
  .law_fz_161,
  .law_fz_86 {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    margin: 10px;
  }

  .input_info,
  .output_info {
    width: 100%;
    margin: 0;
  }

  .output_info .text {
    font-size: 1.4em;
    padding: 10px;
    margin: 10px;
  }

  select {
    width: 100%;
    font-size: 0.9em;
    padding: 5px;
  }

  .save_base {
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
  }

  .save_base button {
    padding: 12px;
    font-size: 0.9em;
    width: 100%;
    margin-top: 10px;
  }

  fieldset .fieldset_dopy label {
    align-items: center;
    margin-right: 10px;
    font-size: 0.9em;
  }

  .kii {
    flex-wrap: wrap;
    justify-content: center;
  }

  .kii button {
    width: 80%;
    padding: 10px;
    font-size: 1em;
    margin: 10px;
  }

  .save_info button {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    margin: 10px;
  }

  #undoButton,
  #receivedData_kii,
  #resetButton {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    margin: 10px;
  }

  .save_info_text {
    font-size: 0.9em;
  }

  .dialogs {
    width: 70%;
    padding: 15px;
    margin: 15px;
    font-size: 1.3em;
  }

  .close {
    font-size: 0.8em;
    height: 40px;
    width: 130px;
    padding: 10px;
  }

  .footer {
    flex-direction: column;
    text-align: center;
    padding: 1rem;
  }

  .footer > * {
    margin: 0.5rem 0;
  }
}

@media (max-width: 480px) {
  .menu-section {
    padding: 8px;
  }

  nav ul a {
    font-size: 1em;
  }

  .content {
    padding: 10px;
  }

  h1 {
    font-size: 1.6em;
  }

  header p {
    font-size: 0.9em;
  }

  .container {
    margin: 5px;
    padding: 5px;
  }

  .module {
    padding: 10px;
    width: 100%;
  }

  .module h2 {
    font-size: 1.2em;
  }

  .module p {
    font-size: 1em;
  }

  .documents {
    margin-top: 10px;
  }

  .category {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .regulator {
    flex-direction: column;
    margin: auto;
    text-align: center;
  }

  .items {
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .items.fz {
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }

  .law_fz_149,
  .law_fz_187,
  .law_fz_152,
  .law_fz_161,
  .law_fz_86 {
    width: 100%;
    margin: 10px;
    font-size: 0.8em;
    text-align: center;
  }

  .law_fz_149 span,
  .law_fz_187 span,
  .law_fz_152 span,
  .law_fz_161 span,
  .law_fz_86 span {
    display: flex;
    text-align: center;
    width: 100%;
    flex-direction: column;
  }

  .items button {
    height: 35px;
    text-align: center;
  }

  .save_info button,
  #undoButton,
  #receivedData_kii,
  #resetButton {
    width: 90%;
    padding: 8px;
    font-size: 0.9em;
    margin: 8px;
  }

  .save_info_text {
    font-size: 0.8em;
  }

  .save_info_text label {
    font-size: 0.8em;
  }

  .dialogs {
    width: 90%;
    padding: 10px;
    margin: 10px;
    font-size: 1.2em;
  }

  .close {
    font-size: 1em;
    height: 40px;
    width: 130px;
    padding: 10px;
  }

  .footer {
    padding: 0.75rem;
    font-size: 0.9em;
  }
}
